.container_box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: -40px;
    margin-left: 17px;
}

.container_item{
    width: 272px;
    height: 500px;
    margin: 5px;
    background:rgba(0, 0, 0, 0.4);
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px 0;
}

.container_item li {
    position: relative;
    display: inline-block;
    height: 154px;
    width: 154px;
    margin-left: 65px;
}

.container_item .container_item_title{
    height: auto;
    width: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: 10px;
}

.container_item li .nt_indrightB_item_bg {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.container_item li .nt_indrightB_item_dot {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 101;
}

.container_item li .nt_indrightB_item_tit {
    position: absolute;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -50%);
    z-index: 101;
    font-size: 14px;
}

.container_item li .nt_indrightB_item_val {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 101;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: bold;
}

.container_item li .nt_indrightB_item_unit {
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: 101;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.container_item li:last-child{
    margin-top: 10px;
}

.container_item_item_group{
    margin-top: 15px;
}

.container_item_item_tit{
    font-size: 10px;
    text-align:center;
}

.container_item_item_val{
    font-size: 17px;
    text-align:center;
    margin-top: 3px;
}