.map{
    width: calc(100% - 40px);
    padding: 0 20px;
    margin: 0;
    position: relative;
}
.left_bar{
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 10;
}
.left_bar_top,.left_bar_bottom{
    background: rgba( 0, 0, 0, 0.6);
    padding: 2vh 2vw;
    margin-bottom: 50px;
}
.title{
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
}
.text{
    line-height: 20px;
    margin: 20px 0;
}
.hide{
    display: none;
}