.nt_so_right {
    width: calc(45% - 20px);
    margin-right: 20px;
    flex-wrap: wrap;
    float: right;
}

.nt_so_right .chart_container {
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.nt_so_right .chart_container .chart_title {
    background: rgba(0, 0, 0, 0.25);
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.nt_so_right .chart_container .chart_body {
    width: 100%;
    height: calc(33vh - 104px);
}
