/* 鑸硅埗鐘舵�� */

.nt_ind_right {
    position: absolute;
    top: 92px;
    right: 20px;
    width: calc(52% - 500px);
    height: auto;
    overflow: hidden;
    margin-left: 20px;
}

.nt_indrigRT {
    height: 28px;
    line-height: 28px;
    background: #1b1c1d;
    font-size: 14px;
    padding-left: 15px;
}

.nt_indrigtop {
    height: 300px;
    overflow: hidden;
    clear: both;
    background: rgba(0, 0, 0, 0.25);
    padding: 6px 0;
    overflow-y: auto;
}

.nt_indrigtop .nt_indrigtopT li {
    display: inline-block;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    padding: 8px 15px;
    box-sizing: border-box;
}

.nt_indrigtop .nt_indrigtopM {
    height: auto;
    overflow: hidden;
    clear: both;
    margin-top: 10px;
}

.nt_indrigtop .nt_indrigtopM .nt_indrigtopML {
    float: left;
}

.nt_indrigtop li {
    display: inline-block;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    padding: 6px 10px;
    box-sizing: border-box;
}

.nt_indrigtop .nt_indrigtopMLl {
    float: left;
    width: 50%;
}

.nt_indrigtop .nt_indrigtopMLr {
    float: right;
    width: 100px;
    font-size: 16px;
    text-align: right;
}

.nt_indrigtop .nt_indrigtopMLr1 {
    float: right;
    font-size: 16px;
    text-align: right;
}

.nt_indrigtop .nt_indrigload {
    width: 95%;
    height: 32px;
    margin: 10px auto;
    line-height: 32px;
    text-align: center;
    border: 1px solid #8a8a8c;
    box-sizing: border-box;
}

.nt_indrigtop .nt_indrigload i {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #6bb72d;
    margin: 8px 5px 0 10px;
    float: left;
}

/* 鍙傛暟 */

.nt_indrigRT2 {
    height: 28px;
    line-height: 28px;
    margin-top: 20px;
    font-size: 14px;
    background: #1b1c1d;
    padding-left: 15px;
}

.nt_indlist {
    height: 450px;
    overflow: hidden;
    clear: both;
    padding: 6px 0;
    background: rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

.nt_indlist ul li {
    display: inline-block;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    padding: 8px 15px;
    box-sizing: border-box;
}

.nt_indlist ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nt_indlist ul li .nt_indlistL {
    font-family: square;
    float: left;
    width: 50%;
}

.nt_indlist ul li .nt_indlistR {
    font-family: square;
    float: right;
    text-align: right;
}