.sub_container{
    margin-top: -10px;
    height: 73vh;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
}

.sub_container .container_item{
    margin-bottom: 10px;
}

.sub_container .container_item:last-child{
    width: 80%;
    margin-left: 1%;
}

.chart_container .chart_body {
    width: 100%;
    height: calc(100vh - 260px);
}