.functional_selection {
    width: 100%;
    padding: 12px 40px;
    padding-bottom: 20px;
    box-sizing: border-box;
    float: left;
    display: flex;
    justify-content: space-between;
}

.functional_selection .parts {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

.chart_container .chart_body {
    width: 100%;
    height: calc(100vh - 260px);
}
